<div class='content'>
  <div id="search-box">
    <% if @books.present?  %><%# インデントを揃えること%>
      <%= form_for @books do |f|  %><%# ここ、keywordの検索の入力フォームと口コミの入力フォームを混同しちゃってる可能性があるよ %>
        <%= f.text_field :detail %>
        <p><%= f.submit "検索" %></p>
      <% end %>
    <% end %>
  </div>
  <h2>検索結果</h2>
  <div id='book_list'>
    <!-- コメントアウトしておく -->
    <%= render  'shared/book_list' %> 
  </div>
</div>
